@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'prosto';
  src: url('/font/ProstoOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}